<% layout('boilerplate') -%>
<h1><%= farm.name %></h1>

<p><%= farm.city %>, <%= farm.email %></p>

<h1>Prodotti</h1>
<ul>
	<% for (const prod of farm.products) { %>
	<li>
		<a href="/products/<%= prod._id %>"><%= prod.name %></a>: <%= prod.price %>$
	</li>
	<% } %>
</ul>
<a href="/farms"> back to farms</a>
<a href="/farms/<%= id %>/products/new">Add Product</a>
