<% layout('boilerplate') -%>
<h1><%= prod.name %></h1>
<ul style="list-style: none">
	<li><strong>Price</strong>: <%= prod.price %></li>
	<li>
		<strong>Category</strong>:
		<a href="/products/sort/<%= prod.category %>"><%= prod.category %></a>
	</li>
	<li><strong>Farm</strong>: <%= prod.farm.name %></li>
</ul>
<a href="/products"> back to home</a>
